@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employee List";
}

<div class="card-deck">

    @foreach (var employee in Model)
    {
        var photoPath = "~/Image/" + (employee.PhotoPath ?? "noImage.png");
        <div class="card m-3" style="min-width:20rem;max-width :35.5%">
            <div class="card-header">
                <h3>@employee.Name</h3>
                <img class="card-img-top imageThumnail" src="@photoPath" asp-append-version="true" />
                <div class="card-footer text-center">
                    <a asp-controller="Home" asp-action="Details" asp-route-Id="@employee.Id" class="btn btn-primary m-1">View</a>
                    <a asp-controller="Home" asp-action="Edit" asp-route-Id="@employee.Id" class="btn btn-primary m-1">Edit</a>
                    <a asp-controller="Home" asp-action="Details" asp-route-Id="@employee.Id" class="btn btn-dangery m-1">Delet</a>
                </div>
            </div>
        </div>
    }
</div>


